*{
    margin: 0;
    padding: 0;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    font-size: 30px;
}

.Pages .Page {
    overflow: hidden;
    position: relative;
    width: calc(100vw - 17px);
    height: 100vh;
}