*{
    margin: 0;
    padding: 0;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    font-size: 30px;
}

.Pages .Page {
    width: 100vw;
    height: 100vh;
}